.footer {
  background-color: #fefaec;
  color: #fff;
  padding: 40px 0 20px 0;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  margin: 15px;
  min-width: 150px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #fc5c9c;
}

.footer-section a {
  display: block;
  color:#fccde2 ;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #c5e3f6;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
  font-size: 0.9rem;
}
